@import '../../index.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $color-primary;
}

.logo {
  width: 100px;
  height: auto;
}

.menu-icon {
  font-size: 20px;
  cursor: pointer;
}

.menu-container {
  position: relative;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
}
